.outer_card {
  display: grid;
  grid-template-rows: fit-content(100%);
  /* background: url(../../assets/blueandpink.jpg); */
  padding-top: 4rem;
  text-align: center;
  background: url(../../assets/blueandpink.jpg);
  /* color: white; */
  background-size: contain;
    overflow: auto;
    background-position: center;
    image-rendering: optimizeQuality;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-repeat: repeat;
    z-index: -1000;
  }
  
  textarea {
    width: 300px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    text-indent: 5px;
    font-size: 20px;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  
  input[type='text'] {
    background-color: black;
  }
  
  textarea:focus {
    outline: none;
  }
  
  textarea::before {
    content: attr(placeholder);
    color: gray;
}

#add-musician-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin: 0;
  padding: 0;
    color: #743b99;
    font-weight: 800;
    text-shadow: 2px 2px 4px #aaa;
    margin-bottom: 20px;
    margin-top: 20px;

}

button#create_musician.submit {
  margin-bottom: 40px;
  width: auto;
  height: 30px;
  border-radius: 6px;

  font-size: 15px;
  font-weight: 600;

  border: none;
  margin: 2px;
}

button#create_musician.submit:hover {
  transition: all 0.2s ease 2s;
  background-color: black;
  color: white;
  cursor: pointer;
}

/*#FFF1E6;#9CF6FB,#E1FCFD,#394F8A,#4A5FC1,#E5B9A8,#EAD6CD*/
form.musician-form {
  display: flex;

  flex-direction: column;
  justify-content: center;
    text-align: center;
    background-color: white;
    border: 3px solid #d0acda;
    width: 800px;
    height: 600px;
    margin: auto;
    border-radius: 10px;
    color: #743b99;
    font-weight: 700;
    font-size: 2rem;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

input[name='biography'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 500px;
  color: rgb(116, 164, 218);
}

div.input_container {

  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
}