
p {
  color: black;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
}


@media screen and (min-width: 480px) {
  article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
  }

  nav ul {
    display: flex;
  }

  nav li {
    flex: 1;
  }
}

@media screen and (min-width: 480px) {
  head {
    margin:2px;
    column-gap: 20px;
    /* overflow-x:hidden;
    overflow-y: auto; */
  }
}


html,
body {
  height: 100vh;

}

body {
  height: 100%;
  padding: 4rem 0 0 0;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #FFFEF6;
    /* background: url(./assets/blue-instruments.jpg); */
    background-repeat: repeat;
}

div#root {
  height: 100vh;
  }
/* background:#FFFEF6; */
/* background-color: #f0efeb; */

/*adding pull request */
/*adding pull request */
/*adding pull request */

 /* @media (min-width: 480px) {
  #root {
    flex-direction: row-reverse;
  }
 } */
/*
  @media (max-width: 1200px) {
    #root {
      display: inline-block;
      align-items: center;
    }
  }
} */
